<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form class="" action="/setTimer" method="post">
        <input type="text" name="timeH" value="0">
        <input type="text" name="timeM" value="0">
        <input type="text" name="timeS" value="0">
        <input type="submit" name="" value="SET">
    </form>
    <form class="" action="/addTime" method="post">
      <input type="text" name="timeH" value="0">
      <input type="text" name="timeM" value="0">
      <input type="text" name="timeS" value="0">
        <input type="submit" name="" value="ADD">
    </form>
</body>
</html>
